# Compiled files
target/
*.class

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IDE - Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE - IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# IDE - VS Code
.vscode

# Logs
*.log

# Maven release
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Application config (chứa mật khẩu - KHÔNG UPLOAD)
application.properties

# Uploaded images
src/main/resources/static/uploads/

# System files
Thumbs.db
.DS_Store

# HELP.md
HELP.md